.tabela-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
}