.product-page-title {
  padding: 20px;
  background: linear-gradient(to right, rgb(221, 222, 230), rgba(243, 244, 248, 0.88));
  color: black;
}

.product-page-content {
  display: flex;
  align-items: flex-start;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #1E2F63;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  font-family: "Dongle", sans-serif;
}

.pagination button:hover {
  background-color: #152347;
  transform: translateY(-2px);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.2rem;
  font-family: "Dongle", sans-serif;
}